<header class="menu container">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <a class="logo" rel="author" href="{{ "/" | relative_url }}">[ 5H3N ]</a>
  <div class="icon-container">
    <a class="dark-mode-toggle" onclick="myFunction()">
      <img id="toggleImg" src="icons/moon.svg">
    </a>
    <button class="mod-menu-toggle hamburger" onclick="modMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    
    {%- if titles_size > 0 -%}
      <ul class="mod-menu-ul">
        <li><a href="#">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    {%- endif -%}
  </div>
</header>
